<div class='center jumbotron'>
  <h1> Welcome to the same app</h1>
  <h2>
    this is the home page for the
    <a href='http://www.railstutorial.org'>Ruby on rails Tutorial</a>
    sample application
  </h2>
  <%= link_to 'Sign up now!', new_user_path, class: 'btn btn-lg btn-primary'%>
</div>

